@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@500&family=Raleway:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #646464;
  background-color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: #fff;
  background-color: #37806b;
  padding: 0.7rem 1.85rem;
  border-radius: 1.25rem 0;
  -webkit-transition: border 0.3s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: border 0.3s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  border: 5px solid transparent;
}
.button:hover {
  color: #37806b;
  background-color: #fff;
  border-color: #37806b;
}

@media (min-width: 1921px) {
  html {
    font-size: 1vw;
  }
}
.progress-bar {
  width: 0;
  height: 0.3rem;
  background-color: #37806b;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.progress-bar__wrapper {
  background-color: #f8f8f8;
  width: 100%;
  height: 0.3rem;
}

.header {
  position: sticky;
  z-index: 5;
  top: 0;
  background-color: #fff;
}
.header__inner {
  padding: 0.7rem 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 2.9rem;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5vw;
}
.header__nav-links {
  gap: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav-link {
  padding: 0 1vw;
  font-weight: 600;
  font-size: 1rem;
  color: #212121;
  border: 3px solid transparent;
  border-radius: 1rem;
  -webkit-transition: border-color 0.3s ease-in-out, color 0.2s ease-in-out;
  transition: border-color 0.3s ease-in-out, color 0.2s ease-in-out;
}
.header__nav-link:hover {
  color: #37806b;
  border-color: #37806b;
}
.header__sign-up-button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 1rem 0;
  color: #fff;
  background-color: #caa892;
  border: 3px solid transparent;
}
.header__menu-toggle {
  display: none;
}

.mob-nav__wrapper {
  display: none;
}

@media (max-width: 991.98px) {
  .header__inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: calc((80vw - 10rem - 30px) / 2);
  }
  .header__nav {
    display: none;
  }
  .header__menu-toggle {
    display: block;
    height: 100%;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  .header__menu-toggle:hover {
    cursor: pointer;
  }
  .header__menu-toggle span {
    display: block;
    width: 29px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #646464;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .header__menu-toggle span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  .header__menu-toggle span:last-child {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  .header__menu-toggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  .mob-nav__wrapper {
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    background: rgba(238, 238, 238, 0.5098039216);
    position: fixed;
    z-index: 6;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }
  .mob-nav {
    position: relative;
    height: 100%;
    width: 0;
    background-color: #f8f8f8;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
  }
  .mob-nav__inner {
    position: relative;
    top: 25vh;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2vh;
  }
  .mob-nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.8vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mob-nav__link {
    padding: 0 1vw;
    font-weight: 600;
    font-size: 1rem;
    color: #212121;
    border: 3px solid transparent;
    border-radius: 1rem;
    -webkit-transition: border-color 0.3s ease-in-out, color 0.2s ease-in-out;
    transition: border-color 0.3s ease-in-out, color 0.2s ease-in-out;
  }
  .mob-nav__link:hover {
    color: #37806b;
    border-color: #37806b;
  }
  .mob-nav__sign-up-button {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-weight: 600;
    font-size: 1rem;
    padding: 3px 19px;
    border-radius: 15px 0px;
    color: #fff;
    background-color: #caa892;
    border: 3px solid transparent;
  }
  .mob-nav__close-btn {
    position: absolute;
    top: 3%;
    right: 10%;
    font-size: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header__nav-links {
    gap: 0;
  }
}
.modern-interior {
  margin-top: 100px;
}
.modern-interior__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5vw;
}
.modern-interior__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}
.modern-interior__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.modern-interior__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modern-interior__image::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 98%;
  border: 2px solid #caa892;
  border-radius: 8.75rem 0rem;
}
.modern-interior__image img {
  border-radius: 8.75rem 0rem;
}
.modern-interior__image::after {
  top: 5%;
  left: 5%;
}
.modern-interior__sub-title {
  font-family: "Poppins", sans-serif;
  color: #646464;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.modern-interior__title {
  font-family: "Poppins", sans-serif;
  color: #212121;
  font-size: 3rem;
  font-weight: 500;
  margin: 0.8rem 0 1.6rem;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 4.875rem;
}
.modern-interior__text {
  font-size: 1.125rem;
  margin-bottom: 3rem;
}

@media (max-width: 575.98px) {
  .modern-interior {
    margin-top: 3rem;
  }
  .modern-interior__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5rem;
  }
  .modern-interior__title {
    font-size: 2.6rem;
    line-height: unset;
  }
  .modern-interior__image img {
    border-radius: 3rem 0rem;
  }
  .modern-interior__image::after {
    border-radius: 3rem 0rem;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .modern-interior {
    margin-top: 3rem;
  }
  .modern-interior__inner {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .modern-interior__title {
    font-size: 2.5rem;
    line-height: unset;
  }
}
.our-services {
  position: relative;
  margin-top: 10rem;
}
.our-services__sub-title {
  font-family: "Poppins", sans-serif;
  color: #646464;
  font-size: 1.25rem;
  font-weight: 500;
  font-weight: 600;
}
.our-services__title {
  font-family: "Poppins", sans-serif;
  color: #212121;
  font-size: 3rem;
  font-weight: 500;
  margin: 0.5rem 0 3rem;
}
.our-services::before {
  position: absolute;
  content: "";
  top: -12vw;
  left: 0;
  width: 10%;
  height: 27%;
  background-image: url(../blocks/our-service/img/our-services__decor-dots-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.our-services::after {
  position: absolute;
  content: "";
  bottom: -15vw;
  right: 0;
  width: 12%;
  height: 27%;
  background-image: url(../blocks/our-service/img/our-services__decor-dots-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.our-services__filter-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}
.our-services__filter-btn {
  font-size: 1rem;
  border-radius: 1.25rem;
  width: 11rem;
  padding: 0.3rem 0;
}
.our-services__filter-btn--active {
  color: #37806b;
  background-color: #fff;
  border-color: #37806b;
}
.our-services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.our-services__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21%;
          flex: 0 0 21%;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 1.5rem 1.5rem 1rem 5rem;
  border-radius: 3.75rem 0rem;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.14);
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.our-services__item-image {
  position: absolute;
  top: 1.8rem;
  left: 1.7rem;
  width: 2.5rem;
  height: 2rem;
}
.our-services__item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.our-services__item-title {
  font-size: 1.4rem;
  color: #212121;
  font-weight: 500;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  max-height: 2rem;
  overflow: hidden;
}
.our-services__item-description {
  font-size: 0.9rem;
  max-height: 4.7rem;
  overflow: hidden;
}
.our-services__item:hover {
  background-color: #caa892;
  color: #fff;
}
.our-services__item:hover .our-services__item-title {
  color: #fff;
}

@media (max-width: 575.98px) {
  .our-services {
    margin-top: 5rem;
  }
  .our-services__filter-buttons {
    gap: 1rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our-services__filter-btn {
    width: 5rem;
  }
  .our-services__items {
    margin: 2rem 0;
  }
  .our-services__item {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
  .our-services__title {
    font-size: 2rem;
  }
}
@media (min-width: 576px) and (max-width: 991.98px) {
  .our-services {
    margin-top: 5rem;
  }
  .our-services__filter-buttons {
    gap: 1rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our-services__filter-btn {
    width: 5rem;
  }
  .our-services__items {
    margin: 2rem 0;
  }
  .our-services__item {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
  .our-services__title {
    font-size: 2rem;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .our-services__filter-buttons {
    gap: 2rem;
  }
}
.about-us {
  margin-top: 6rem;
}
.about-us__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-us__sub-title {
  font-family: "Poppins", sans-serif;
  color: #646464;
  font-size: 1.25rem;
  font-weight: 500;
}
.about-us__title {
  font-family: "Poppins", sans-serif;
  color: #212121;
  font-size: 3rem;
  font-weight: 500;
  margin: 3rem 0 0.5rem 0;
}
.about-us__info {
  padding-left: 9rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.about-us__text {
  margin-bottom: 3rem;
}
.about-us__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.about-us__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-us__image::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 98%;
  border: 2px solid #caa892;
  border-radius: 8.75rem 0rem;
}
.about-us__image img {
  border-radius: 8.75rem 0rem;
}
.about-us__image::after {
  top: -5%;
  left: -5%;
}

@media (max-width: 575.98px) {
  .about-us__info {
    padding: 0;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
  .about-us__title {
    margin: 0;
    font-size: 2rem;
  }
  .about-us__image {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .about-us__inner {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .about-us__info {
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
  .about-us__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
  .about-us__title {
    font-size: 2.5rem;
    line-height: unset;
  }
}
.successful-working {
  margin-top: 10rem;
}
.successful-working__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.successful-working__transparent-text {
  font-size: 15rem;
  line-height: 12rem;
  font-weight: 700;
  color: transparent;
  background-image: url(../blocks/successful-working/img/20years.png);
  -webkit-background-clip: text;
          background-clip: text;
}
.successful-working__title {
  font-family: "Poppins", sans-serif;
  color: #212121;
  font-size: 3rem;
  font-weight: 500;
  margin: 1.5rem 0;
}
.successful-working__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}
.successful-working__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.successful-working__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.successful-working__image::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 98%;
  border: 2px solid #caa892;
  border-radius: 8.75rem 0rem;
}
.successful-working__image img {
  border-radius: 8.75rem 0rem;
}
.successful-working__image::after {
  top: 5%;
  left: 5%;
}

@media (max-width: 575.98px) {
  .successful-working {
    margin-top: 5rem;
  }
  .successful-working__image {
    display: none;
  }
  .successful-working__transparent-text {
    font-size: 12rem;
    line-height: 10rem;
  }
  .successful-working__title {
    font-size: 2rem;
  }
}
@media (min-width: 576px) and (max-width: 991.98px) {
  .successful-working {
    margin-top: 5rem;
  }
  .successful-working__inner {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .successful-working__transparent-text {
    font-size: 12rem;
    line-height: 10rem;
  }
  .successful-working__title {
    font-size: 2rem;
  }
}
.completed-work {
  background-color: #f8f8f8;
  margin-top: 10rem;
  padding: 5rem 0;
}
.completed-work__title {
  font-family: "Poppins", sans-serif;
  color: #212121;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5rem;
}
.completed-work__diagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 7rem;
}
.completed-work__diagram-item {
  position: relative;
  width: 12vw;
  height: 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border-radius: 2.5rem 0rem;
  background: #fff;
  -webkit-box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.1);
}
.completed-work__diagram-item-number {
  font-weight: 700;
  color: #212121;
  font-size: 3.125rem;
}
.completed-work__diagram-item-text {
  font-weight: 600;
  font-size: 1.125rem;
  width: 12rem;
}
.completed-work__diagram-item-svg {
  position: absolute;
}
.completed-work__diagram-item:nth-child(2n) {
  top: 6vw;
}

@media (max-width: 575.98px) {
  .completed-work__diagram-item {
    width: 30vw;
    height: 30vw;
  }
  .completed-work__diagram-item-number {
    font-size: 2.5rem;
  }
}
@media (max-width: 767.98px) {
  .completed-work {
    margin-top: 5rem;
  }
  .completed-work__title {
    font-size: 2rem;
  }
  .completed-work__diagram {
    margin-left: 15vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .completed-work__diagram-item {
    top: 0 !important;
  }
  .completed-work__diagram-item::after {
    display: none;
  }
  .completed-work__diagram-item-text {
    width: unset;
  }
  .completed-work__diagram-item:nth-child(2n) {
    left: 30vw;
  }
  .completed-work__diagram-item-svg {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .completed-work__diagram-item {
    width: 25vw;
    height: 25vw;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .completed-work {
    margin-top: 5rem;
  }
  .completed-work__title {
    font-size: 2rem;
  }
  .completed-work__diagram-item {
    width: 17vw;
    height: 17vw;
  }
}
.testimonials-slider {
  position: relative;
}
.testimonials-slider .swiper {
  margin-top: 5rem;
  padding: 2rem 0 5rem 0;
}
.testimonials-slider__btns {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  top: -5rem;
  right: 4rem;
}
.testimonials-slider__btns button {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  width: 3rem;
}
.testimonials-slider__btns button img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.testimonials-slider__btns button:hover {
  opacity: 0.7;
}
.testimonials-slider__item {
  position: relative;
  padding: 2.5rem 2rem 3.5rem 6rem;
  border-radius: 4.375rem 0rem;
  background: #fff;
  -webkit-box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
          box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
}
.testimonials-slider__item::before {
  position: absolute;
  content: "";
  top: 8%;
  right: 3%;
  background-image: url(../blocks/testimonials-slider/img/testimonals-slider__decor.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 2.3rem;
  height: 2.3rem;
}
.testimonials-slider__item-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 4rem;
}
.testimonials-slider__item-image {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: calc(50% - 4rem);
  left: -4rem;
}
.testimonials-slider__item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.testimonials-slider__item-image img {
  border-radius: 2.1875rem 0rem;
}
.testimonials-slider__item-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #212121;
}
.testimonials-slider__item-title span {
  color: #646464;
  font-size: 0.9rem;
  font-weight: 400;
}
.testimonials-slider__description {
  font-size: 1.125rem;
  font-weight: 400;
}

@media (max-width: 767.98px) {
  .testimonials-slider .swiper {
    margin: 0;
  }
  .testimonials-slider__item-wrapper {
    padding: 0 1.4rem;
  }
  .testimonials-slider__item {
    padding: 4rem 1rem 1.2rem 1.2rem;
  }
  .testimonials-slider__item-title {
    font-size: 1.2rem;
  }
  .testimonials-slider__item-title span {
    font-size: 0.7rem;
    display: block;
    margin-bottom: 0.5rem;
  }
  .testimonials-slider__item-description {
    font-size: 0.9rem;
  }
  .testimonials-slider__item-image {
    width: 5rem;
    height: 5rem;
    top: calc(10% - 2.5rem);
    left: calc(50% - 2.5rem);
  }
  .testimonials-slider__item::before {
    width: 1.5rem;
    height: 1.5rem;
  }
  .testimonials-slider__btns {
    top: 80%;
    right: calc(50% - 4rem);
    z-index: 2;
  }
}
.testimonials {
  padding: 8rem 0;
}
.testimonials__subtitle {
  font-family: "Poppins", sans-serif;
  color: #646464;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}
.testimonials__title {
  font-family: "Poppins", sans-serif;
  color: #212121;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 575.98px) {
  .testimonials {
    padding: 3rem 0;
  }
  .testimonials__title {
    font-size: 2rem;
  }
}
.latest-news {
  background-color: #f8f8f8;
  padding: 3rem 0;
}
.latest-news__subtitle {
  font-family: "Poppins", sans-serif;
  color: #646464;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}
.latest-news__title {
  font-family: "Poppins", sans-serif;
  color: #212121;
  font-size: 3rem;
  font-weight: 500;
  margin: 0.8rem 0 2rem;
  text-align: center;
}
.latest-news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.latest-news__item {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.latest-news__item-image {
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.latest-news__item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.latest-news__item-image::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 98%;
  border: 2px solid #caa892;
  border-radius: 8.75rem 0rem;
}
.latest-news__item-image img {
  position: relative;
  z-index: 1;
  border-radius: 6.25rem 0rem;
}
.latest-news__item-image::after {
  top: 3%;
  left: 3%;
  border-radius: 6.25rem 0rem;
  z-index: 0;
}
.latest-news__item-title {
  margin-top: 2.6rem;
  color: #212121;
  font-size: 1.6rem;
  font-weight: 600;
}
.latest-news__item-description {
  font-size: 1.125rem;
  margin: 1rem 0 2.8rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.latest-news__item-button {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: translateY(-6rem);
          transform: translateY(-6rem);
}
.latest-news__item:hover .latest-news__item-image {
  scale: 1.05;
}
.latest-news__item:hover .latest-news__item-description {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.latest-news__item:hover .latest-news__item-button {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.latest-news__item--show {
  opacity: 1;
}

@media (max-width: 575.98px) {
  .latest-news__title {
    font-size: 2rem;
  }
  .latest-news__item {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
  .latest-news__item:last-child {
    display: none;
  }
  .latest-news__item-image img {
    border-radius: 3rem 0rem;
  }
  .latest-news__item-image::after {
    border-radius: 3rem 0rem;
  }
}
.sign-up-form {
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 40rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}
.sign-up-form__input-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}
.sign-up-form__input-name input {
  width: 16.5rem;
}
.sign-up-form__input {
  outline: none;
  border: none;
  border-radius: 1.25rem 0rem;
  background: #eeeeee;
  padding: 1rem 0 0.8rem 1.8rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.sign-up-form__input[type=email] {
  width: 100%;
}
.sign-up-form__input--invalid {
  border: 1px solid rgb(201, 0, 0);
}
.sign-up-form__button {
  border-top-left-radius: 0;
}

@media (max-width: 767.98px) {
  .sign-up-form {
    gap: 1rem;
  }
  .sign-up-form__input-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  .sign-up-form__input-name input {
    width: unset;
  }
  .sign-up-form__input[type=email] {
    width: unset;
  }
}
.sign-up {
  position: relative;
  padding: 5rem 0;
}
.sign-up__title {
  font-family: "Poppins", sans-serif;
  color: #212121;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}
.sign-up__line {
  max-width: 30rem;
  margin: 0 auto 2rem;
  border: 1px solid #c4c4c4;
}
.sign-up__description {
  max-width: 37rem;
  text-align: center;
  margin: 0 auto;
}
.sign-up::before, .sign-up::after {
  position: absolute;
  content: "";
  width: 10rem;
  height: 7.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.sign-up::before {
  background-image: url(../blocks/sign-up/img/sign-up-form__decor-dots-1.svg);
  bottom: -8%;
  left: 0;
}
.sign-up::after {
  background-image: url(../blocks/sign-up/img/sign-up-form__decor-dots-2.svg);
  top: -9%;
  right: 0;
}

@media (max-width: 575.98px) {
  .sign-up__title {
    font-size: 2rem;
  }
  .sign-up::after {
    top: -5%;
  }
}
.footer {
  background-color: #f8f8f8;
}
.footer__inner {
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__item:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26%;
          flex: 0 0 26%;
}
.footer__item-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #212121;
  margin-bottom: 1.2rem;
}
.footer__logo {
  margin-bottom: 1rem;
  width: 10rem;
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__line {
  border: 1px solid #c4c4c4;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.footer__link {
  font-size: 1.125rem;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.footer__link:hover {
  color: #37806b;
}
.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.3rem;
  height: 2.3rem;
  background-color: #d5d5d5;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.footer__social-link img {
  height: 58%;
}
.footer__social-link:hover {
  background-color: #37806b;
}
.footer__rights {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.125rem;
}
.footer__rights-link {
  color: #37806b;
}

@media (max-width: 991.98px) {
  .footer__inner {
    gap: 3rem;
  }
}
.is-user-here {
  z-index: 6;
  display: none;
  opacity: 0;
  position: fixed;
  top: 15%;
  left: calc(50% - 12.5vw);
  padding: 1rem 0;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  width: 25vw;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.is-user-here__text {
  margin-bottom: 1rem;
  color: #212121;
  font-size: 3rem;
}

@media (max-width: 991.98px) {
  .is-user-here {
    width: 75vw;
    left: calc(50% - 37.5vw);
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .is-user-here {
    width: 30vw;
  }
}
.congratulations {
  font-size: 3rem;
  font-weight: 700;
  color: #212121;
  text-align: center;
  margin: 20vh auto 0;
  width: 60%;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.congratulations__wrapper {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

@media (max-width: 992px) {
  .congratulations {
    font-size: 2rem;
  }
}
.preloader {
  position: relative;
  margin: 40vh auto 0;
  width: 13.2rem;
  height: 9.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.preloader__wrapper {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.preloader__item {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background: rgb(0, 255, 119);
  background: rgb(0, 196, 92);
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 196, 92)), color-stop(53%, rgb(0, 143, 41)), to(rgb(0, 77, 29)));
  background: linear-gradient(90deg, rgb(0, 196, 92) 0%, rgb(0, 143, 41) 53%, rgb(0, 77, 29) 100%);
  margin-bottom: 0.4rem;
  top: calc(50% - 1.5rem);
  border-radius: 0.7rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.preloader__item:not(:last-child) {
  margin-right: 0.4rem;
}
.preloader__item:first-child {
  left: 0;
  top: 0;
}
.preloader__item:nth-child(2) {
  left: 0;
}
.preloader__item:nth-child(3) {
  left: 3.4rem;
}
.preloader__item:nth-child(4) {
  left: 6.8rem;
}
.preloader__item:last-child {
  left: 10.2rem;
}/*# sourceMappingURL=style.css.map */