@use "mixins";
@use "variables";
.about-us {
  margin-top: 15rem;
  &__inner {
    display: flex;
  }
  &__sub-title {
    @include mixins.subtitle;
  }
  &__title {
    @include mixins.title;
    margin: 3rem 0 0.5rem 0;
  }
  &__info {
    padding-left: 9rem;
  }
  &__text {
    margin-bottom: 3rem;
  }
  &__image {
    @include mixins.image-cover;
    @include mixins.image-decor;
    position: relative;
    flex: 0 0 50%;
    img {
      border-radius: variables.$image-decor-border-radius-1;
    }
    &::after {
      top: -5%;
      left: -5%;
    }
  }
}
