@use "mixins";
@use "variables";
.congratulations {
  &__wrapper {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$bg-color-2;
    transition: opacity 0.2s ease-in-out;
  }
  font-size: variables.$title-font-size;
  font-weight: variables.$font-weight-bold;
  color: variables.$titles-main-color;
  text-align: center;
  margin: 20vh auto 0;
  width: 60%;
}
