@use "variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@500&family=Raleway:wght@500&display=swap");
html {
  scroll-behavior: smooth;
  //font-size: 1vw;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: variables.$text-main-color;
  background-color: variables.$bg-color-1;
}
.container {
  width: 80vw;
  margin: 0 auto;
}
.button {
  font-family: "Open Sans", sans-serif;
  font-weight: variables.$font-weight-bold;
  font-size: variables.$btn-font-size-l;
  color: variables.$button-main-color;
  background-color: variables.$button-bg-color;
  padding: 0.7rem 1.85rem;
  border-radius: 1.25rem 0;
  transition: outline 0.3s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  outline: 5px solid transparent;
  &:hover {
    color: variables.$button-bg-color;
    background-color: variables.$button-main-color;
    outline-color: variables.$button-bg-color;
  }
}
