@use "mixins";
@use "variables";
.our-services {
  position: relative;
  margin-top: 10rem;
  &__sub-title {
    @include mixins.subtitle;
    font-weight: variables.$font-weight-semibold;
  }
  &__title {
    @include mixins.title;
    margin: 0.5rem 0 3rem;
  }
  &::before {
    position: absolute;
    content: "";
    top: -12vw;
    left: 0;
    width: 10%;
    height: 27%;
    background-image: url(../img/our-services__decor-dots-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &::after {
    position: absolute;
    content: "";
    bottom: -15vw;
    right: 0;
    width: 12%;
    height: 27%;
    background-image: url(../img/our-services__decor-dots-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__filter-buttons {
    display: flex;
    gap: 4rem;
  }
  &__filter-btn {
    font-size: variables.$btn-font-size-s;
    border-radius: 1.25rem;
    width: 11rem;
    padding: 0.5rem 0;
    &--active {
      color: variables.$button-bg-color;
      background-color: variables.$button-main-color;
      outline-color: variables.$button-bg-color;
    }
  }
  &__items {
    display: flex;
    margin: 5rem 0;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    flex: 0 0 21%;
    align-self: center;
    padding: 1.5rem 1.5rem 1rem 5rem;
    border-radius: 3.75rem 0rem;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.14);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    &-image {
      position: absolute;
      top: 1.8rem;
      left: 1.7rem;
      width: 2.5rem;
      height: 2rem;
      @include mixins.image-contain;
    }
    &-title {
      font-size: 1.4rem;
      color: variables.$titles-main-color;
      font-weight: variables.$font-weight-medium;
      transition: color 0.2s ease-in-out;
      max-height: 2rem;
      overflow: hidden;
    }
    &-description {
      font-size: 0.9rem;
      max-height: 4.7rem;
      overflow: hidden;
    }
    &:hover {
      background-color: variables.$our-service-hover-bg;
      color: variables.$items-bg-color;
      .our-services__item-title {
        color: variables.$items-bg-color;
      }
    }
  }
}
