@use "mixins";
@use "variables";
.sign-up-form {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  align-items: center;
  gap: 4rem;
  &__input-name {
    display: flex;
    gap: 5rem;
    input {
        width: 16.5rem;
    }
  }
  &__input {
    outline: none;
    border: none;
    border-radius: 1.25rem 0rem;
    background: #EEEEEE;
    padding: 1rem 0 0.8rem 1.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: variables.$font-weight-medium;
    font-size: variables.$text-font-size;
    &[type="email"] {
        width: 100%;
    }
  }
  &__button {
    border-top-left-radius: 0;
  }
}
