@use "mixins";
@use "variables";
@use "sign-up-form";
.sign-up {
    position: relative;
    padding: 5rem 0;
    &__title {
        @include mixins.title;
        text-align: center;
        margin-bottom: 1rem;
    }
    &__line {
        width: 30rem;
        margin: 0 auto 2rem;
        border: 1px solid #C4C4C4;
    }
    &__description {
        width: 37rem;
        text-align: center;
        margin: 0 auto;
    }
    &::before, &::after {
        position: absolute;
        content: '';
        width: 10rem;
        height: 7.5rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &::before {
        background-image: url(../img/sign-up-form__decor-dots-1.svg);
        bottom: -8%;
        left: 0;
    }
    &::after {
        background-image: url(../img/sign-up-form__decor-dots-2.svg);
        top: -9%;
        right: 0;
    }
}