$bg-color-1: #FFF;
$bg-color-2: #F8F8F8;
$text-main-color: #646464;
$titles-main-color: #212121;
$header-signUp-button-bg: #CAA892;
$button-main-color: #FFF;
$button-hover-color: #37806B;
$button-bg-color: #37806B;
$our-service-hover-bg: #CAA892;
$image-decor-color: #CAA892;
$items-bg-color: #FFF;
///// Font //////
$title-font-size: 3rem;
$subtitle-font-size: 1.25rem;
$text-font-size: 1.125rem;
$btn-font-size-l: 1.125rem;
$btn-font-size-s: 1rem;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
///// Size //////
$image-decor-border-radius-1: 8.75rem 0rem;
$image-decor-border-radius-2: 6.25rem 0rem;
