@use "../../scss/mixins" as mixins;
@use "../../scss/variables" as variables;
.modern-interior {
  margin-top: 100px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5vw;
  }
  &__info {
    flex: 0 0 45%;
  }
  &__image {
    @include mixins.image-cover;
    @include mixins.image-decor;
    position: relative;
    flex: 0 0 50%;
    img {
      border-radius: variables.$image-decor-border-radius-1;
    }
    &::after {
      top: 5%;
      left: 5%;
    }
  }
  &__sub-title {
    @include mixins.subtitle;
    font-family: "Open Sans", sans-serif;
    font-weight: variables.$font-weight-semibold;
  }
  &__title {
    @include mixins.title;
    margin: 0.8rem 0 1.6rem;
    font-weight: variables.$font-weight-semibold;
    font-size: 4.5rem;
    line-height: 4.875rem;
  }
  &__text {
    @include mixins.text;
    margin-bottom: 3rem;
  }
}
@media (max-width: 575.98px) {
  .modern-interior {
    margin-top: 3rem;
    &__inner {
      flex-direction: column;
      gap: 5rem;
    }
    &__title {
      font-size: 2.6rem;
      line-height: unset;
    }
    &__image {
      img {
        border-radius: variables.$image-decor-border-radius-mob;
      }
      &::after {
        border-radius: variables.$image-decor-border-radius-mob;
      }
    }
  }
}
