@use "../../scss/mixins" as mixins;
@use "../../scss/variables" as variables;
.latest-news {
  background-color: variables.$bg-color-2;
  padding: 3rem 0;
  &__subtitle {
    @include mixins.subtitle;
    text-align: center;
  }
  &__title {
    @include mixins.title;
    margin: 0.8rem 0 2rem;
    text-align: center;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    flex: 0 1 40%;
    &-image {
      @include mixins.image-cover;
      @include mixins.image-decor;
      position: relative;
      transition: all 0.2s ease-in-out;
      img {
        position: relative;
        z-index: 1;
        border-radius: variables.$image-decor-border-radius-2;
      }
      &::after {
        top: 3%;
        left: 3%;
        border-radius: variables.$image-decor-border-radius-2;
        z-index: 0;
      }
    }
    &-title {
      margin-top: 2.6rem;
      color: variables.$titles-main-color;
      font-size: 1.875rem;
      font-weight: variables.$font-weight-semibold;
    }
    &-description {
      font-size: variables.$text-font-size;
      margin: 1rem 0 2.8rem;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100%);
      transition: all 0.2s ease-in-out;
    }
    &-button {
      transition: all 0.1s ease-in-out;
      transform: translateY(-6rem);
    }
    &:hover {
      .latest-news__item-image {
        scale: 1.05;
      }
      .latest-news__item-description {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      .latest-news__item-button {
        transform: translateY(0);
      }
    }
  }
  &__item--show {
    opacity: 1;
  }
}
@media (max-width: 575.98px) {
  .latest-news {
    &__title {
      @include mixins.title-mob;
    }
    &__item {
      flex: unset;
      &:last-child {
        display: none;
      }
    }
    &__item-image {
      img {
        border-radius: variables.$image-decor-border-radius-mob;
      }
      &::after {
        border-radius: variables.$image-decor-border-radius-mob;
      }
    }
  }
}
